In [3]:
df <- data.frame(name = c('Jon', 'Bill', 'Maria'),
                age = c(23, 41, 32)
                )
print (df)

   name age
1   Jon  23
2  Bill  41
3 Maria  32